<h1>Listing Groups</h1>

  <h3>Name</h3>

  <tbody>
    <% @groups.each do |group| %>
    <ul>
      <li><strong><%= link_to group.name, group%><strong></li>
    </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
